{% extends "askfeedback/wrapper.html" %}

{% block content %}

<div class="container">
  <form role="form" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <fieldset class="border p-2">
        <legend class="w-auto">Ask Feedback</legend>
        <p>My Email: <br> {{form.email}}</p>
        <p>Reviewer Emails: <br> {{form.emails}}</p>
        <p>Deadline Date: <br> {{form.deadline}}</p>
        <h6>{{ form.errors.emails }}  {{ form.errors.deadline }}</h6>
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
      </fieldset>
    </div>
  </form>
</div>

{% endblock %}
