<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251" />
    <TITLE>Сайт ~~~feedback360.998899.xyz настроен на сервере</TITLE>
    <link rel="stylesheet" href="http://www.ukraine.com.ua/static/parking/style.css" type="text/css" />
</head>
<body>
<div class="container">
    <div class="content">

        <div class="text">
            <h1>Сайт ~~~feedback360.998899.xyz настроен на сервере</h1>
                     

            Сайт <b>~~~feedback360.998899.xyz</b> настроен на сервере хостинга.<br><br>


            <br><br>

        </div>

    </div>


</div>
</body>
</html>